// Font family ***
$font-title: "Inter", sans-serif;
$font-body: "Inter", sans-serif;

// Colors ***
$color-primary: #00ae7a;
$color-secondary: #25314c;
$color-title: #25314c;
$color-body: #788090;
$color-paragraph: #788090;
$color-span: #808899;
$color-border: #d7dce8;
$color-gray: #f8f9fb;
$color-black: #101828;
$color-white: #ffffff;

// Transitions ***
$transition: all 0.3s ease-in-out;

// Box shadow ***
$shadow: 0px 3.77px 28.27px 0px #25314c14;
